<div class="card">
    
    <div class="card-header">
        <h4>Categories <small>({{ cat_cnt }})</small>
            <div class="float-right">
                {% if show_view_all %}
                    <a class="btn btn-primary" href="{% url 'emapp:cat_list' %}">View All > </a>            
                {% endif %}            
                <a class="btn btn-success" href="{% url 'emapp:cat_create' %}">Create New + </a>
            </div>
        </h4>
    </div>            

    <div class="card-body">
        <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>                        
                    <th scope="col">Transactions</th> 
                </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                        <tr>
                            <td>{{ category.pk }}</td>
                            <td><a href="{% url 'emapp:cat_update' category.pk %}">{{ category.name }}</a></td>
                            <td>
                                {{ category.transactions.count }}
                                <a href="{% url 'emapp:trans_list' %}?cat={{ category.pk }}">(view)</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>

    {% if not show_view_all %}
        <div class="card-footer">        
            {% include "emapp/paginate.html" %}        
        </div>
    {% endif %}

</div>