<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
  <div class="container-fluid">
    <div class="row">
      {% for key, val in stats.items %}
        <div class="col-md-3">
            <div class="card text-white bg-default mb-1" style="max-width: 18rem;">                                    
                <div class="card-body" style="color: black;" align="center">
                  <h5 class="card-title">{{ key }}</h5>
                  <p class="card-text"><strong>{{ val }}</strong></p>
                </div>
            </div>
          </div>
      {% endfor %}        
    </div>    
  </div>
</main>